* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

body {
	background-image:url('./assets/background_form.png');
	background-size:100% auto;
}

html, body, #app {
	font-family:sans-serif;
	font-size:14px;
	--webkit-font-smoothing:antialiased;
}

#app {
	width:100%;
	height:100vh;
}

input, button, textarea {
	font-family:sans-serif;
	font-size:16px;
	width:100%;
	padding:10px;
	margin-bottom:20px;
}

button {
	cursor: pointer;
}
